<td class="playback-track-artwork basic-table-artwork artwork">
  <div class="basic-table-artwork-inner">
    <a href="<%- url %>" target="_blank">
    <% if (artwork) { %>
      <img src="<%- artwork %>" alt="Album artwork"/>
    <% } else { %>
      <img src="/img/artwork-placeholder.gif" alt="Album artwork"/>
    <% } %>
    </a>
  </div>
</td>
<td class="basic-table-row-title playback-track-title">
  <div class="track-progress">
    <div class="current-progress"></div>
  </div>
  <h5 class="playback-track-title"><%- title %> <a class="track-search-result-source" href="<%- url %>"><% if(source === 'soundcloud'){ %>(Soundcloud)<% } else { %>(Youtube)<% } %></a></h5>
</td>
<td class="table-row-duration-and-actions">
  <div class="table-row-duration">
    <span class="playback-track-current-time">1:35</span>
    <span class="playback-track-total-time"><%- TWM.Lib.secondsToMinutes(duration) %></span>
  </div>
  <div class="delete-track-container" tabindex="0">
    <span class="screen-reader-text">Delete track</span>
    <button class="delete-track btn-circle"></button>
  </div>
  <div class="readd-track-container" tabindex="0">
    <span class="screen-reader-text">Re-add track</span>
    <button class="readd-track btn-circle"></button>
  </div>
</td>