<td><a href="/<%- id %>"><%- title %></a></td>
<td><a class="previous-playlist-date" href="/<%- id %>"><%- updatedDateString %></a></td>
<td><a class="previous-playlist-last-track" href="/<%- id %>"><%- lastTrackAdded %></a></td>