<td class="basic-table-artwork artwork">
  <a href="<%= url %>" target="_blank" class="track-search-result-artwork-inner basic-table-artwork-inner">
	 <img src="<% if(typeof artwork === 'undefined' || artwork === null){ %> /img/artwork-placeholder.gif <% } else { %><%= artwork %><% } %>" alt="Album artwork" />
  </a>
</td>
<td class="track-search-result-title basic-table-row-title">
	<h5 title="<%= title %>"><%= title %></h5><a class="track-search-result-source" target="_blank" href="<%- url %>" target="_blank"><% if(source === 'soundcloud'){ %>(Soundcloud)<% } else { %>(Youtube)<% } %></a>
</td>
<td class="table-row-duration-and-actions">
  <span class="table-row-duration track-search-result-duration"><%= minutes %></span>
  <div class="track-search-actions">
    <span class="screen-reader-text">Add this track to playlist</span>
    <a class="track-search-result-add btn-circle"></a>
  </div>
</td>