<td class="track-search-result-add"><span class="screen-reader-text">Add this track to playlist</span></td>
<td class="track-search-result-artwork artwork">
	<img src="<% if(typeof artwork === 'undefined' || artwork === null){ %> /img/search-result-artwork-placehold.gif <% } else { %><%= artwork %><% } %>" alt="Album artwork" />
</td>
<td class="track-search-result-title"><h5><a target="_blank" href="<%= url %>"><%= title %></a></h5></td>
<td class="track-search-result-duration"><%= minutes %></td>
<td class="track-search-result-source"><a class="icon <%= source %> track-search-link" target="_blank" href="<%= url %>"></a></td>
<td class="track-search-result-actions"><a href="" class="preview-track icon icon-play"></a><span class="screen-reader-text">Preview</span></td>