<tr class="track-search-result">
	<td class="track-search-result-artwork artwork">
		<img src="<%= artwork %>" alt="Album artwork" />
	</td>
	<td class="track-search-result-title">
		<h5><a target="_blank" href="<%= url %>"><%= title %></a></h5>
	</td>
	<td class="track-search-result-duration"><%= minutes %></td>
	<td class="track-search-result-source">
		<a class="icon icon-<%= source %>" target="_blank" href="<%= url %>"></a>
	</td>
	<td class="track-search-result-actions">
		<button class="preview-track">Preview</button>
	</td>
</tr>